.christopher {
    width: 100%;
    /* height: ; */
    background-color: #171717;
    display: flex;
    flex-direction: row;
}

.christopher img {
    width: 35%;
    height: 650px;
}

.contents {
    flex: .8px;
}

.contents h3 {
    font-family: Arial;
    font-weight: bold;
    font-size: 45px;
    text-align: left;
    margin: 10px;
    color: #c5ff00;
}

.contents p {
    margin: 10px;
    font-family: Perpetua;
    font-weight: normal;
    font-size: 25px;
    line-height: 51px;
    text-align: left;
    color: #fff;

}

.contents div p {
    margin: 10px;
    margin-top: 100px;
    font-family: Rockwell;
    font-weight: normal;
    font-style: italic;
    font-size: 25px;
    letter-spacing: 0.05em;
    line-height: 46px;
    text-align: left;
    color: #ffa303;
}

@media (max-width:620px) {
    .christopher {
        height: auto;
        flex-direction: column;
        background-color: #171717;
    }

    .christopher h3 {
        font-size: 30px;
    }

    .christopher img {
        width: 100%;
        height: auto;
    }

    .contents div p {
        margin-top: 30px;
    }
}
