.top {
  width: 100%;
  height: auto;
  background: linear-gradient(#555464 0%, #81818d 54.81%, #383745 100%);
}

.ctt {
  display: flex;
  flex-direction: column;
  width: auto;
}

.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.title h2 {
  color: #bcc548;
  font-size: 50px;
  margin: 10px 0 0 40px;
}

.image {
  width: 500px;
  height: 300px;
  margin: 10px 30px 0 0px;
}

.content p {
  width: auto;
  font-family: "Century Schoolbook";
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  text-align: left;
  margin: 30px 0px 0 30px;
  color: #fff;
}

.middlecontainer {
  height: auto;
  justify-content: space-between;
  width: 70%;
  /* background: linear-gradient(#797886 0%, #57576b 11.03%, #2f2f4b 45.78%, #292943 80.84%, #26263e 100%); */
}

.middle {
  width: auto;
  height: 100%;
  background-image: url("../Assests/bgimage22.jpg");
  background-repeat: no-repeat;
}

.middle__title {
  font-family: Arial;
  font-weight: bold;
  font-size: 36px;
  text-align: left;
  margin: 10px 0 0 10px;
  color: #f3ff56;
}

.middle__contents {
  display: flex;
}

.middle__contents img {
  width: 305px;
  height: 306px;
  background: transparent;
}

.person {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: relative;
}

.person h2 {
  font-family: Arial;
  font-size: 30px;
  text-align: left;
  color: #ffe600;
}

.person p {
  font-family: Arial;
  font-size: 25px;
  text-align: center;
  color: #f1f0ea;
  margin: 10px 0 0 0;
}

.middle___link {
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin: 10px 0 0 0;
  color: #6a83ff;
  text-decoration: none;
}

.navigationbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 120px;
  border-radius: 0px 0px 20px 20px;
  background: #46455c;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.16);
  justify-content: space-evenly;
}

.navigationbar a {
  padding: 6px;
  text-decoration: none;
  /* margin: 0 0 0 10px; */
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  color: #f3ff56;
  transition: 0.2s;
}

.navigationbar a:hover {
  background-color: #bcc548;
  color: black;
  border-radius: 5px;
}

.educational__service {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  background-image: url("../Assests/bgimage22.jpg");
  background-repeat: no-repeat;
}

.service__title {
  width: auto;
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  color: #f3ff56;
  margin: 20px 0 0 10px;
}

.service__contents {
  text-align: center;
}

.service__contents p {
  margin: 10px 0 0 15px;
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  color: #fff;
}

.phoneimage {
  margin: 10px 0 0 0;
  width: 50%;
  height: 230px;
  /* background: transparent; */
}

.floodbg {
  background: linear-gradient(
    #797886 0%,
    #57576b 11.03%,
    #2f2f4b 45.78%,
    #292943 80.84%,
    #26263e 100%
  );
}

.flood {
  background-image: url("../Assests/flood_background.png");
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-evenly;
}

.flood h3 {
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  color: #f3ff56;
  margin: 10px 0 0 10px;
  position: relative;
}

.flood__contents {
  display: flex;
  place-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.part1__flood {
  display: flex;
  flex-direction: column;
  place-items: center;
  align-items: center;
  margin-top: 20px;
  width: 200px;
  height: 300px;
  background: #515059;
  opacity: 0.81;
  text-align: center;
  box-shadow: -30px 20px 50px rgba(0, 0, 0, 0.16);
}

.part1__flood img {
  width: 60%;
  height: 40%;
  margin-top: 10px;
}

.part1__flood p {
  font-family: "Segoe UI";
  font-weight: 600;
  font-style: italic;
  font-size: 15px;
  margin: 10px;
  text-align: left;
  color: #fff;
}

@media (max-width: 800px) {
  .title {
    flex-direction: column;
  }

  .title img {
    width: auto;
  }
  .navigationbar {
    flex-direction: column;
    height: auto;
    padding: 10px 0 10px 0;
  }
  .navigationbar a {
    font-size: 20px;
  }
  .educational__service {
    height: auto;
  }
  .phoneimage {
    width: 100%;
  }

  .flood__contents {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .part1__flood {
    margin: 10px;
  }
}

@media (max-width: 350px) {
  .phoneimage {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .middlecontainer {
    width: auto;
  }
  .middle {
    height: auto;
    background-color: #212237;
  }
  .middle__contents {
    flex-direction: column;
  }
}
.footer {
  width: 100%;
  background-image: url("../Assests/bgfooter.jpg");
  height: auto;
  place-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 100px 0 0 0;
  padding: 15px;
  background-repeat: no-repeat;
  margin: 30px 0 0 0;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  height: auto;
}

.footer__contact h3 {
  font-family: "Muli, sans-serif";
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  font-style: normal;
  margin: 10px 0 0 10px;
  color: #fff;
  line-height: 24px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  height: auto;
}

.footer__links h3 {
  font-family: "Muli, sans-serif";
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  margin: 10px 0 0 10px;
  color: #fff;
}

.footer__links__links {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.footer__links__links a {
  margin: 10px 0 0 0;
  font-family: "Muli, sans-serif";
  font-size: 20px;
  text-align: center;
  color: #00ff4e;
  text-decoration: none;
}

.footer__links__links a:hover {
  margin-left: 20px;
  transition: 0.8s;
}

.newsletter h3 {
  font-family: "Muli, sans-serif";
  font-weight: 400;
  font-size: 20px;
  margin: 10px 0 0 10px;
  color: #fff;
}

.newsletter__contents p {
  width: 250px;
  margin: 30px 0 0 0;
  font-family: "Californian FB";
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: #00ff4e;
}

.text__newsletter {
  margin: 20px 0 0 0;
  display: flex;
}

.text__newsletter input {
  border: none;
  padding: 4px;
  font-family: "Californian FB";
  font-size: 20px;
  text-align: center;
  color: #8d8e8b;
  outline: none;
}

.text__newsletter img {
  width: 40px;
  height: 100%;
  background: transparent;
  cursor: pointer;
}

@media (max-width: 800px) {
  .footer {
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: auto;
    border-radius: 50px 0 0 0;
  }
  .footer__links {
    margin: 10px 0 10px 0;
  }
  .footer__contact {
    height: auto;
  }
}

.overlay1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay1:target {
  visibility: visible;
  opacity: 1;
}

.popup1 {
  margin: 70px auto;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup1 h2 {
  font-size: 16px;
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup1 .close1 {
  position: absolute;
  top: 20px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup1 .close1:hover {
  color: #06d85f;
}
.popup1 .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup1 {
    width: 70%;
  }
}

@media (max-width: 490px) {
  .popup1 {
    align-items: center;
    text-align: center;
  }
  .popup1 h2 {
    width: 50%;
  }
  .popup1 .content {
    width: 50%;
  }
}
