.headerimage {
  width: 100%;
  height: 500px;
}

@media (max-width: 500px) {
  .headerimage {
    height: 300px;
  }
}

@media (max-width: 320px) {
  .headerimage {
    height: 275px;
  }
}

.layout {
  width: 100%;
  padding: 7px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-radius: 0px 0px 25px 25px;
  background: #eaedf1;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.16);
}

.navbar-links {
  font-family: "Times New Roman";
  font-weight: normal;
  width: 100%;
  font-size: 26px;
  text-align: left;
}

.navbar-links ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  margin: 0 20px 0 0;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #4a8803;
  padding: 1rem;
}

.navbar-links li a:hover {
  background-color: #4a8803;
  color: #eaedf1;
  transition: 1s;
  border-radius: 10px;
}

.toggle-button {
  position: absolute;
  margin: 7px 0 0 0;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  border: none;
  outline: none;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #4a8803;
  color: #4a8803;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar-links {
    display: flex;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
    font-size: 20px;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar {
    height: auto;
  }
}

.content h3 {
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 30px;
  margin: 30px 0 0 25px;
  text-align: left;
  color: #0d2b00;
}

.content div {
  margin: 20px 0 0 35px;
  width: 1000px;
}

.content div li {
  font-family: "Tenali Ramakrishna", sans-serif;
  font-weight: bolder;
  margin: 0 0 20px 15px;
  font-size: 25px;
  text-align: left;
  color: #000;
}

.aim {
  height: 40px;
  border-radius: 10px;
  background: #75c718;
  margin-bottom: 20px;
  width: auto;
  padding: 5px;
}

.aim p {
  font-family: "Alegreya Sans', sans-serif";
  font-weight: 600;
  font-size: 25px;
  text-align: left;
  color: #0d2b00;
}

@media (max-width: 1000px) {
  .content div {
    width: auto;
  }

  .aim {
    width: auto;
    height: auto;
  }

  .aim p {
    width: auto;
    height: auto;
  }
}

.topmenu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.datagraph {
  margin: 20px 30px 20px 30px;
  width: 250px;
  height: 390px;
  border-radius: 36px;
  background: #4d063a;
  box-shadow: 10px 20px 58px rgba(0, 0, 0, 0.16);
}

.datagraph img {
  width: 100%;
  height: 200px;
}

.datatop {
  text-align: center;
}

.datatop p {
  font-family: Rockwell;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #efff0c;
}

.number {
  font-family: Rockwell;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  margin: 20px 0 0 0;
  color: #f6f6f6;
}

@media (max-width: 600px) {
  .number {
    margin-bottom: 30px;
    font-size: 40px;
  }
}

.datagraph1 {
  top: 80px;
  position: relative;
  width: 250px;
  height: 390px;
  border-radius: 36px;
  background: #4d063a;
  box-shadow: 10px 20px 58px rgba(0, 0, 0, 0.16);
}

.datagraph1 img {
  width: 100%;
  height: 200px;
}

.datatop1 {
  text-align: center;
}

.datatop1 p {
  font-family: Rockwell;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #efff0c;
}

.footer {
  width: 100%;
  background-image: url("../Assests/bgfooter.jpg");
  height: auto;
  place-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 100px 0 0 0;
  padding: 15px;
  background-repeat: no-repeat;
  margin: 30px 0 0 0;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  height: auto;
}

.footer__contact h3 {
  font-family: "Muli, sans-serif";
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  font-style: normal;
  margin: 10px 0 0 10px;
  color: #fff;
  line-height: 24px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  height: auto;
}

.footer__links h3 {
  font-family: "Muli, sans-serif";
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  margin: 10px 0 0 10px;
  color: #fff;
}

.footer__links__links {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.footer__links__links a {
  margin: 10px 0 0 0;
  font-family: "Muli, sans-serif";
  font-size: 20px;
  text-align: center;
  color: #00ff4e;
  text-decoration: none;
}

.footer__links__links a:hover {
  margin-left: 20px;
  transition: 0.8s;
}

.newsletter h3 {
  font-family: "Muli, sans-serif";
  font-weight: 400;
  font-size: 20px;
  margin: 10px 0 0 10px;
  color: #fff;
}

.newsletter__contents p {
  width: 250px;
  margin: 30px 0 0 0;
  font-family: "Californian FB";
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: #00ff4e;
}

.text__newsletter {
  margin: 20px 0 0 0;
  display: flex;
}

.text__newsletter input {
  border: none;
  padding: 4px;
  font-family: "Californian FB";
  font-size: 20px;
  text-align: center;
  color: #8d8e8b;
  outline: none;
}

.text__newsletter img {
  width: 40px;
  height: 100%;
  background: transparent;
  cursor: pointer;
}

@media (max-width: 800px) {
  .footer {
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: auto;
    border-radius: 50px 0 0 0;
  }
  .footer__links {
    margin: 10px 0 10px 0;
  }
  .footer__contact {
    height: auto;
  }
  .footer__links {
    margin: 30px 0 0 0;
  }
}

@media (max-width: 1000px) {
  .topmenu {
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  .datagraph1 {
    position: relative;
    top: 0%;
  }
}

.overlay1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay1:target {
  visibility: visible;
  opacity: 1;
}

.popup1 {
  margin: 70px auto;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup1 h2 {
  font-size: 16px;
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup1 .close1 {
  position: absolute;
  top: 20px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup1 .close1:hover {
  color: #06d85f;
}
.popup1 .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup1 {
    width: 70%;
  }
}

@media (max-width: 490px) {
  .popup1 {
    align-items: center;
    text-align: center;
  }
  .popup1 h2 {
    width: 50%;
  }
  .popup1 .content {
    width: 50%;
  }
}

.donateus {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px 0 20px 0;
}

.donateus___contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text__newsletter buton {
  border: none;
  background: transparent;
  outline: none;
}

.donateus___contents p {
  font-family: "Langar", cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  text-align: left;
  color: #376304;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.donateus___contents a {
  font-family: Rockwell;
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
  text-align: left;
  color: #e67704;
}

@media (max-width: 858px) {
  .donateus {
    align-items: center;
    flex-direction: column;
    width: auto;
  }
  .donateus img {
    width: 300px;
    height: 270px;
  }
  .donateus___contents svg {
    width: 30;
    height: 90;
  }
  .footer__links {
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .datagraph {
    width: 90%;
    height: 550px;
  }

  .datagraph img {
    height: 450px;
  }
  .datatop {
    height: 250px;
    width: 99%;
  }
}

@media (max-width: 360px) {
  .datagraph {
    width: 90%;
    height: 550px;
  }

  .datagraph img {
    height: 400px;
  }
  .datatop {
    height: 250px;
    width: 99%;
  }
}
@media (max-width: 600px) {
  .datagraph1 {
    width: 90%;
    height: 550px;
  }

  .datagraph1 img {
    height: 450px;
  }
  .datatop1 {
    height: 250px;
    width: 99%;
  }
}

@media (max-width: 360px) {
  .datagraph1 {
    width: 90%;
    height: 550px;
  }

  .datagraph1 img {
    height: 400px;
  }
  .datatop1 {
    height: 250px;
    width: 99%;
  }
  .footer__links {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
  .datagraph1 {
    width: 90%;
    height: 530px;
  }

  .datagraph1 img {
    height: 400px;
  }
  .datatop1 {
    height: 250px;
    width: 99%;
  }
}
@media only screen and (max-width: 850px) and (orientation: landscape) {
  .datagraph {
    width: 90%;
    height: 530px;
  }

  .datagraph img {
    height: 400px;
  }
  .datatop {
    height: 250px;
    width: 99%;
  }
}
